html, body {
  margin: 0;
  padding: 0;
}
body, button{
  font-family: 'Fraunces', serif;
  font-size: 1rem;
}

#cnvOutDiv{
  height: 100vh;
  display: grid;
}

#canvasDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 2;
}

canvas {
  display: block;
  touch-action: pinch-zoom;
  border: 1px solid red;
  box-shadow: 0px 0px 7px 1px lightsalmon;
}

.menu {
  display: none;
  padding-top: 5rem;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #eeeeff;
  position: relative;
  z-index: 10;
}

.menu-btn-div {
  position: fixed;
  top: 0.4rem;
  right: 0.4rem;
  z-index: 11;
}

.draw-not-allowed {
  text-decoration: line-through;
}

.centerWrap{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 10px;
}

button{
  background: transparent;
  border-radius: 8px;
  margin: 0px 0px 0px 15px;
  padding: 10px;
  border: 2px solid #FF7043;
}

button:active{
  background: #FF7043;
}

a, a:visited{
  display: flex;
  align-items: center;
  padding: 15px;
  text-decoration: none;
  background-color: #AB47BC;
  border-radius: 8px;
  color: white;
  margin: 0px 0px 0px 10px;
}

a:hover, a:active{
  color: white;
  background-color: #8E24AA;
}

#two{
  margin: 10px auto 30px auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#three{
  padding: 10px 10px 10px 0px;
}
#six{
  margin: 20px auto 20px auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
div.colorShow{
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px red;
  text-align: center;
}
input[type="range"] {
  -webkit-appearance: none;
  background: #9b9b9b;
  width: 150px;
  height: 5px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 30px 0px 10px 0px;
}
input[type="range"]:hover{
  opacity: 1;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  background: #A5A3E9C7;
  width: 20px;
  height: 25px;
  border-radius: 5px;
}
input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #A5A3E9C7;
  cursor: pointer;
}
#redSlider::-webkit-slider-thumb
{
  background: red;
}
#redSlider::-moz-range-thumb
{
  background: red;
}
#greenSlider::-webkit-slider-thumb
{
  background: green;
}
#greenSlider::-moz-range-thumb
{
  background: green;
}
#blueSlider::-webkit-slider-thumb
{
  background: blue;
}
#blueSlider::-moz-range-thumb
{
  background: blue;
}
#thickSlider::-webkit-slider-thumb
{
  background: black;
}
#thickSlider::-moz-range-thumb
{
  background: black;
}
#thickSlider{
  margin: 20px 0px 10px 0px;
}

/*PC*/
@media (min-width: 901px) {
  button:hover{
    background: #FBE9E7;
  }
  button:active{
    background: #FF7043;
  }
}
/*Mobile*/
@media (max-width: 900px) {
  #cnvOutDiv {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid black;
  }
}